<div id="page-content">
    <h1 class="text-center mt-4"><%= @user.username.capitalize %>'s Profile</h1>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
           <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-header">
                <p>Username: <%= @user.username %></p>
              </div>
              <div class="card-body">
                  <div class="card-text text-start m-2">Email: <%= simple_format(@user.email) %></div>
                  <div class="container-button mb-4">
                    <%= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-outline-info' %>
                    <%= link_to 'Delete', user_path(@user), data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"}, class: 'btn btn-outline-danger'%>
                    <%= link_to 'Back to Article listings ', articles_path, class: 'btn btn-outline-primary' %>
                  </div>
                  <div class="card-footer text-muted">
                  <small>Created <%= time_ago_in_words(@user.created_at) %> ago,
                  edited <%= time_ago_in_words(@user.updated_at) %> ago</small>
                </div>
              </div>
            </div>
        </div>
        <%= render 'articles/article' %>
      </div>
    </div>
</div>
