<h1 class="text-center mt-4"><%= @user.username.capitalize %>'s Profile</h1>

<div class="text-center">
<% if logged_in? && @user == current_user %>
  <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-primary"%>
  <%= link_to "Delete profile", delete_profile_path(@user), data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
<% end %>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>
